.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.filled {
    background-color: red;
}

.container {
    display: flex;
    gap: 48px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-grid {
    background-color: aqua;
    border-radius: 16px;
    border: aqua 2px solid;
    height: 30px;
}

.control {
    display: flex;
    justify-content: space-around;
}